form  {
    display: block;
    background-color: rgba(0, 255, 255, 0.037);
    width: 100px;
    height: 100px;
    backdrop-filter: blur(10px);
    margin-top: -100px;
    margin-left: 50px;
}
div {
    background-color: rgb(32, 124, 124);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}