div {
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: block;
    visibility: hidden;
}

span {
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
}