a:link {
    color: rgb(4, 255, 0);
}
a:visited {
    color: rgb(255, 0, 238);
}
a:hover {
    color: red;
    font-size: 1.1em;
}

a:active {
    color: rgb(128, 58, 0);
    font-size: 1.1em;
}



li:hover {
    background-color: black;
    color: white;
}

li:not(:hover) {
    background-color: rgb(255, 255, 0);
}

li:nth-child(3n) {
    background-color: red;
}

button {
    background-color: blue;
    border-radius: 25px;
}

button:hover {
    background-color: yellow;
}