.pagination {
    text-align: center;

}
.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: gray;
    border-radius: 5px;
}