#container {
  border: 2px solid black;
}

#container p {
  background-color: yellow;
}
#container > p {
  background-color: rgb(255, 0, 247);
}

#container + p {
  background-color: rgb(255, 0, 0);
}
