


.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  gap: 40px;
  padding: 60px 40px;
}
.hero-content {
  justify-content: end;
  max-width: 500px;
}
.version-tag {
  display: inline-block;
  background-color: #f8e7ff;
  color: #782cc4;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.875rem;
  margin-bottom: 20px;
}
.hero-content h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 1.125rem;
  color: #555;
  margin-bottom: 30px;
}
.cta-buttons {
  display: flex;
  gap: 20px;
}
.hero-content .btn {
  padding: 12px 30px;
  background-color: #1a5eb0;
  color: #fff;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 600;
  height: 75px;
}
.hero-content #btn-primary {
  border: 1px solid #1a5eb0;
  background-color: #1a5eb0;
  color: #e0dfdf;
}
#btn-primary:hover {
  background-color: #ffffff;
  color: #1a5eb0;
  border: 2px solid #1a5eb0;
  transition: all 0.2s ease;
  
}
.hero-content #btn-secondary {
  border: 1px solid #565656;
  background-color: white;
  color: #565656;
}
.tags {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.tag {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 3px 7px;
  font-size: 0.875rem;
}
.tags span:nth-child(1) {
  transform: rotate(-2deg);
}
.tags span:nth-child(2) {
  transform: rotate(2deg);
}
.tags span:nth-child(3) {
  transform: rotate(-1deg);
}

.image-wrapper {
  position: relative;
  display: inline-block; /*To hold the image and bubbles in frame*/
}
.main-img {
  display: block;
  width: 100%;
  height: auto;
  animation: image-card 3s ease-in-out infinite;
  rotate: 2deg;
}
.bubble {
  position: absolute;
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bubble-coffee {
  top: 10%;
  right: -20px;
}

.bubble-idea {
  bottom: 15%;
  left: -30px;
}
.dot {
  position: absolute;
  border-radius: 50%;
  filter: blur(2px);
  opacity: 0.7;
}
.dot-blue {
  width: 60px;
  height: 60px;
  background: #a5b4fc;
  top: -10px;
  left: 20%;
}

.dot-purple {
  width: 40px;
  height: 40px;
  background: #c084fc;
  bottom: 20%;
  right: -10px;
}
.dot-pink {
  width: 100px;
  height: 100px;
  background: #f9a8d4;
  top: 10%;
  right: 20px;
}
.dot-yellow {
  width: 80px;
  height: 80px;
  background: #fcd34d;
  bottom: -20px;
  left: 10%;
}
#hero-image {
  box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.1);
}
@keyframes image-card {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
