#box1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: sticky;
    top: 0px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(107, 22, 128);
    position: absolute;
    top: 50px;
    left: 50px;
}