.dropdown {
    display: inline-block;
}
.dropdown button {
    display: block;
    background-color: rgb(166, 171, 7);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 100p;
    box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content {
    display: block;
}
.dropdown:hover button {
    background-color: rgb(196, 196, 196);
    color: black;
}
.content a:hover{
    background-color: rgb(70, 70, 70);
}