<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Cấu hình kết nối SQL Server -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=SP2025;encrypt=true;trustServerCertificate=true</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">sa123456</property>
        
        <!-- Dialect cho SQL Server -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        
        <!-- Tùy chọn tạo bảng -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Hiển thị SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
                
        <!-- Entity mapping -->
	<!-- Liệt kê các mapping. Bạn có thể sử dụng <mapping class="..."/> -->
        <mapping class="com.giaolang.one.Product"/>
    </session-factory>
</hibernate-configuration>

<!-- LƯU Ý: FILE CẤU HÌNH PHẢI NẰM Ở ĐÚNG THƯ MỤC resources/ -->