.container {
    border: 4px solid black;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* align-content: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap; */
    height: 90vh;
}
.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1 {
    background-color: rgb(255, 47, 47);
    order: 4;
}
#box2 {
    background-color: rgb(255, 255, 34);
    order: 1;
}
#box3 {
    background-color: rgb(61, 255, 61);
    order: 2;
}
#box4 {
    background-color: rgb(45, 45, 254);
    order: 3;
}