* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
    clear: both;
    background-color: aliceblue;
    text-align: center;
    padding: 25px 25px;
}

.navbar {
    display: block;
    background-color: aquamarine;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 10px 15px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar li:hover {
    background-color: rgb(1, 21, 38);
}


aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

footer {
    display: block;
    clear: both;
    background-color: rgb(92, 112, 131);
    text-align: center;
    padding: 25px 25px;
}

@media screen and (max-width:600px) {
    aside, section, article {
        width: 100%;
    }
}